body{
    margin: 0;
    padding: 0;
    background: #e91e63;
}
h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    font-size: 40px;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);

}